<div class="modal-background" (click)="closeModalFunction()"></div>
<div class="modal-content">
    <div class="main-content-modal">
        <div class="title">
            Log in
        </div>

        <div class="main-form-div">

            <form [formGroup]="formLogin">

                <div class="columns">
                    <div class="column is-full">
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control">
                                <input class="input"
                                    [ngClass]="{'is-danger': formLogin.get('username').hasError('required') && formLogin.get('username').touched}"
                                    type="text" formControlName="username" placeholder="Please enter your username">
                            </div>
                            <p *ngIf="formLogin.get('username').hasError('required') && formLogin.get('username').touched"
                                class="help is-danger">This field is required</p>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-full">
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input"
                                    [ngClass]="{'is-danger': formLogin.get('password').hasError('required') && formLogin.get('password').touched}"
                                    type="password" formControlName="password" placeholder="Please enter your password">
                            </div>
                            <p *ngIf="formLogin.get('password').hasError('required') && formLogin.get('password').touched"
                                class="help is-danger">This field is required</p>
                        </div>
                    </div>
                </div>

            </form>

        </div>

        <div>
            <div class="div-buttons">
                <div class="buttons">
                    <button [disabled]="formLogin.invalid" class="button is-success" (click)="login()">Accept</button>
                    <button class="button is-light" (click)="closeModalFunction()">Cancel</button>
                </div>
            </div>
        </div>

    </div>
</div>
<button class="modal-close is-large" (click)="closeModalFunction()" aria-label="close"></button>