<div class="card" style="margin-top: 20px;">
    <header class="card-header" style="display: flex; justify-content: space-between; padding: 10px;">
        <div>
            <span class="card-header-title" style="font-size: 1.15rem;">
                Pull Requests
            </span>
        </div>
        <div>
            <div class="buttons">
                <button routerLink="/pulls/create" class="button is-success">New pull request</button>
            </div>
        </div>

    </header>
    <div class="card-content">
        <div class="content" *ngIf="showEnptyMessage">
            <div class="message-div">
                <span>At the moment, no Pull Request was found, create a new pull request.</span>
            </div>
        </div>

        <div class="content" *ngIf="! showEnptyMessage">

            <div *ngFor="let pull of pulls" >
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <span ><b>Author</b>: {{ pull.author }}</span> <br>
                        <div style="height: 25px;"></div>
                        <span><b>Title</b>: {{ pull.title }}</span> <br>
                        <span><b>Description</b>: {{ pull.body }}</span> <br>
                        <span><b>State</b>: {{ pull.state === 'closed' ? ( pull.mergedAt !== null ? 'merged' : 'closet' ) : 'open' }}</span> <br>
                    </div>
                    <div *ngIf="pull.state === 'open'">
                        <div class="buttons">
                            <button (click)="updatePullRequest(pull)" class="button is-danger">Close pull request</button>
                          </div>
                    </div>
                </div>
               

                <div style="width: 100%; height: 2px; background-color: darkgray; margin: 10px 0px 10px 0px;"></div>

            </div>



        </div>

    </div>
</div>





<div class="modal" [ngClass]="{'is-active': showNoticeDialog}">
    <app-notice-dialog (modalEvent)="receiveNoticeDialogEvent($event)" [title]="titleDialog" [body]="bodyDialog">
    </app-notice-dialog>
</div>