.main-content-modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.modal-content {
    margin: 0 !important;
}

.main-form-div {
    // display: flex;
    // justify-content: center;
    margin-top: 20px;
}


.div-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}



