<div class="container is-fluid">
    <section class="hero is-primary is-large" >
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <i class="	fa fa-github-alt"></i>
                    99minutos-fullstack-interview-test
                </h1>
                <h2 class="subtitle">
                    Web application for administration and information on the repository "99minutos-fullstack-interview-test"
                </h2>
            </div>
        </div>
    </section>
</div>