<nav class="panel">
    <p class="panel-heading">
        Branches
    </p>
    <a class="panel-block is-active" *ngFor="let branch of branches" (click)="showBranchDetail(branch)">
        <div style="width: 100%; display: flex; justify-content: space-between;">
            <div>
                <span class="panel-icon">
                    <i class="fa fa-code-fork" aria-hidden="true"></i>
                </span>
                {{ branch.name }}
            </div>
            <div>
                show commits
            </div>
        </div>

    </a>
</nav>